.navbar-default {
  background-color:#F0F8FF;
  background-image: none;
  background-repeat: no-repeat;
 }

 .flevel{
 	background-image: url('../img/4.jpg');
 	height: 700px;
 	background-repeat: no-repeat;
 	margin-top: 0px;
 	
    object-fit: contain;
 }

.llevel{
 	background-image: url('../img/mega.jpg');
 	height: 350px;
 	background-repeat: no-repeat;
 	margin-top: 0px;
 	
    object-fit: contain;
 }

 .alevel{
 	background-image: url('../img/as.jpg');
 	height: 550px;
 	background-repeat: no-repeat;
 	margin-top: 0px;
 	
    object-fit: contain;
 }
 .blevel{
 	background-image: url('../img/55.jpg');
 	height: 550px;
 	background-repeat: no-repeat;
 	margin-top: 0px;
 	
    object-fit: contain;
 }
 .clevel{
 	background-image: url('../img/cool.jpg');
 	height: 550px;
 	background-repeat: no-repeat;
 	margin-top: 0px;
 	
    object-fit: contain;
 }

.big-icon{
	font-size: 100px;
}

.bigest-icon{
	font-size: 400px;
}
.footer-height{
	background-color:#FFF0F5;
  background-image: none;
  background-repeat: no-repeat;
  height: 120px;
}



.text-details{
	margin-top: 150px;
}